.main{
    background-color: rgba(35, 62, 73, 0.888);
    margin: auto;
    width: 70%;
}

.admin-login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .admin-login-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .admin-login-image img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .admin-login-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
  }
  
  .admin-login-form h1 {
    color: aliceblue;
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .admin-login-form input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .admin-login-form button {
    width: 70%;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .admin-login-form button:hover {
    background-color: #0056b3;
  }
  